body, html {
    font-family: 'Raleway', sans-serif;
}
h1 {
    font-family: 'Walter Turncoat', cursive;
}
#messyroom {
    height: 480px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

div {
    
    margin-top: 5px;
     
}

.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

.bigger {
    font-size: 200%
}

#kiss {
    display: block;
   height: 480px;
}