body {
  min-height: 100%;
  margin: 0;
}

h1{
    display: inline;
    /* text-align: ; */
    margin: auto;
}
.ips-logo{
    width: 150px;
    margin: 40px;

}

header {
  height: 200px;
  background-color: yellow;
}

footer {
  position: fixed;
  bottom: 0px;
  height: 25px;
  background-color: aliceblue;
  width: 100%;
  margin: 0;
}

.subs {
  display: none;
}

.section {
  display: inline;
}