body {
  min-height: 100%;
  margin: 0;
  font-family: sans-serif;
}

.site-title {
    font-size: 40px;
    text-align: center;
    /* margin: auto; */
    padding: 60px 0px 0px 50px;
    font-family: 'Raleway', sans-serif;
    vertical-align: top;
}
.ips-logo{
    width: 130px;
    height: 130px;
    margin: 40px;
}

.header-logo-bar {
  display: flex;
  height: 200px;
  background-color: yellow;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: grey;
}

.hero-img{
   width: 100%;
}

.site-description{
  height: 300px;
  text-align: center;
  padding: 30px;
} 

.description-text{
    font-family: 'Varela Round', sans-serif;
    font-size: 45px;
    padding: 20px;
}

footer {
  position: fixed;
  bottom: 0px;
  height: 60px;
  background-color: aliceblue;
  width: 100%;
  margin: 0;
  justify-content: center;
}
.icons-container{
    margin: auto;
    text-align: center;
}
.social-media-icons{
    width: 35px;
    height:  35px;
    padding-right: 30px;
    padding-top: 13px;
}

.subs {
  display: none;
}

.section {
  display: inline;
  padding-right: 30px;
}

.sub-section{
    display: none;
}

.section:hover .subs{
    display: block;

}

